{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a student from Bangalore who loves coding, doodling and coffee. I am currently pursuing my Bachlor's Degree in Information Science.</p>
        <p>Basically, I code all day. I started learning to code when I was 15 years old because I wanted to make my own animations and cartoons. Over time, I have gained required skill-set for designing and developing applications.</p>
        <p>I can design as well as I have been told that I have the creativity, technical skills, patience and concentration and good attention to detail. I understand digital illustration, photo editing software, and layout software to create designs. I can make visual elements such as logos, original images, and illustrations to help deliver a message.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
